<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="webAppUrl" value="http://localhost:8082"/>
    <!-- there are two methods for connecting: client_id and client_secret (recommended) and user/pass
    Use one of the following pairs as appropriate-->
    <!-- client_id/secret 
    <add key="clientId" value="workspace.admin"/>
    <add key="clientSecret" value="HP1nvent"/>-->
    <!-- user/pass -->
    <add key="userName" value="sa@nga"/>
    <add key="password" value="Welcome1"/>
    <add key="sharedSpaceId" value="1001"/>
    <add key="workspaceId" value="1002"/>

    <!-- If you use secured connection(https) but sertificates are not installed correctly, set value to true to ignore validation -->
    <add key="ignoreServerCertificateValidation" value="true"/>
  </appSettings>
</configuration>