<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="webAppUrl" value="http://localhost:8082" />
    <!-- there are two methods for connecting: client_id and client_secret (recommended) and user/pass
    Use one of the following pairs as appropriate-->
    <!-- client_id/secret -->
    <add key="clientId" value="sa@nga" />
    <add key="clientSecret" value="Welcome1" />
    <!-- user/pass 
    <add key="userName" value="sa@nga"/>
    <add key="password" value="Welcome1"/> -->
    <add key="sharedSpaceId" value="1001" />
    <add key="workspaceId" value="1002" />
  </appSettings>

</configuration>