<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="webAppUrl" value="localhost.emea.hpqcorp.net:8080"/>
    <!-- there are two methods for connecting: client_id and client_secret (recommended) and user/pass
    Use one of the following pairs as appropriate-->
    <!-- client_id/secret -->
    <add key="clientId" value="id"/>
    <add key="clientSecret" value="secret"/>
    <!-- user/pass 
    <add key="userName" value="user"/>
    <add key="password" value="password"/> -->
    <add key="sharedSpaceId" value="1001"/>
    <add key="workspaceId" value="1002"/>
  </appSettings>

</configuration>